.scheduler-container {
  min-height: 522px;
  height: calc(100vh - 222px);
  width: calc(100%);
  position: relative;
}
.dhx_cal_ltext {
  height: 42px !important; /* Override default height for description section */
  border-radius: 20px !important;
}


.dhx_cal_ltext textarea {
  border-radius: 10px !important;
}