@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --bg-side: white;
  --bg-lightblue: #D1E4FF;
  --bg-main: #F2F2F2;
  --bg-head-foot-item: white;
  --bg-setting: #1A1C1E;
  --bg-gray: #d5d6d8;

  --text-normal: black;
  --text-data: #4A00FF;
  --text-side: #43474E;
  --text-title: #000000;

  --border-gray: #d0d1d3;
}

body.dark {
  --bg-side: black;
  --bg-lightblue: #D1E4FF;
  --bg-main: #191E24;
  --bg-head-foot-item: #1D232A;
  --bg-setting: #1A1C1E;
  --bg-gray: #45474c;

  --text-normal: #d0d1d3;
  --text-data: #CBD5FF;
  --text-side: white;
  --text-title: #A6ADBB;

  --border-gray: #d0d1d3;
}


.itemContainer {
  @apply bg-[var(--bg-head-foot-item)] rounded-2xl shadow-custom-shadow border-5 border-lightgray 
}

.itemContainer p, .itemContainer h1, .itemContainer h2{
  color: var(--text-normal)
}

.App {
  display: flex;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  margin-left: 80px;
  z-index: 0;
  position: relative;
  width: calc(100vw - 80px);
  height: calc(100vh - 56px);
  background-color: var(--bg-main);
  overflow-y: scroll;
}

.main-content-wrapper {
  padding: 30px 50px 0px 50px;
  
}

.main-content {
  display: flex;
  height: fit-content;
  position: relative;
  gap: 50px;
}


.right-content {
  flex: 1
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; /* 1 */
    /*will affect the button style of most component libraries, so disable it*/
    /*background-color: transparent; !* 2 *!*/
    background-image: none; /* 2 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
