@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-pink: #F2F2F2;
  --bg-lightblue: #D1E4FF;
  --text-gray: #43474E;
  --border-gray: #E8E9EB;
  --bg-setting: #1A1C1E;
}

.App {
  display: flex;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  margin-left: 80px;
  z-index: 99;
  position: relative;
  width: calc(100vw - 80px);
  height: calc(100vh - 96px);
  background-color: var(--bg-pink);
  overflow-y: scroll;
}

.main-content-wrapper {
  padding: 50px;
  
}

.main-content {
  display: flex;
  gap: 50px;
  height: 830px;
  position: relative;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button; /* 1 */
    /*will affect the button style of most component libraries, so disable it*/
    /*background-color: transparent; !* 2 *!*/
    background-image: none; /* 2 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
