
.bordered-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid var(--border-gray);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    height: 100%;
}

.room-img {
    min-width: 364px;
    height: 834px;
}