.home-large-image {
   @apply w-[400px] h-[300px] bg-white p-2 rounded-2xl shadow-custom-shadow border-5 border-lightgray relative flex justify-center items-center
}

.home-lower-wrapper {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 400px;
    border-radius: 20px;
}

.setting-image {
    width: auto;
    height: auto;
}

.home-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 5px;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(2px); 
    width: 380px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.home-setting-icon {
    max-width: 4vw;
    max-height: auto;
    margin: -10px;
}

.home-config p {
    color: white;
}

.image-title {
    font-size: 1.2vw;
}

.image-desc {
    font-size: 1vw;
}

.images-small-screen {
    display: none;
}

.images-large-screen {
    display: flex;
}

.home-lower-container {
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1024px) and (max-width: 1460px) {
    .images-small-screen {
        display: flex;
    }

    /* .images-large-screen {
        display: none;
    } */

    .setting-image {
        min-width: 380px;
        min-height: 276px;
    }

    .home-lower-container {
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

}



