.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    position: relative;
}

.home-upper-content {
    padding: 40px!important;
    height: 500px!important;
}

.home-title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--border-gray);
    margin-bottom: 30px;
}

.home-desc {
    font-size: 25px;
    overflow-y: auto;
    max-height: 350px;
}

.home-inner {
    display: flex;
    gap: 30px;
    position: relative;
}

.home-inner img {
    width: 50%;
    height: 360px;
    margin-bottom: 20px;
}

.items-carousel {
    width: 449px;
    position: relative;
    margin: 0 auto;
    
}

.home-lower-wrapper {
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 430px;
    border-radius: 20px;
}

.home-lower-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.setting-image {
    width: auto;
    height: auto;
}

.home-config {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Add transparency to the background color */
    backdrop-filter: blur(2px); /* Add blur effect */
    width: calc(100% - 40px);
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.home-setting-icon {
    max-width: 4vw;
    max-height: auto;
    margin: -10px;
}

.home-config p {
    color: white;
}

.image-title {
    font-size: 1.2vw;
}

.image-desc {
    font-size: 1vw;
}

.images-small-screen {
    display: none;
}

.images-large-screen {
    display: flex;
}

@media (max-width: 1440px) {
    .images-small-screen {
        display: flex;
    }

    .images-large-screen {
        display: none;
    }

    .setting-image {
        min-width: 380px;
        min-height: 276px;
    }

}



